body {
    background: rgb(2, 0, 36);
    background-image: linear-gradient(135deg, rgba(2, 0,36, 1) 0%, rgba(9, 9, 121, 1) 64%, rgba(0, 212, 255, 1) 100%);
    background-attachment: fixed;
    font-family: Arial, serif;
    color: white;
    font-size: large;
    padding-bottom: 50px;
}

.post {
    background-color: #77dd11;
    padding: 20px;
    margin: 10px;
}